.layout-principal {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 20px;
  height: 90vh;
}

.columna-derecha {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
  overflow: hidden;
}

.grid-dos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.bloque {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #1976d2;
  color: white;
}

th,
td {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 15px;
  color: #1e3a8a;
}
